/*
Name: 
Date: 
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --main-bg-colour: #69C9D0;
    --sec-bg-colour: #EE1D52;
    --main-colour: #EE1D52;
    --sec-colour: #69C9D0;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.container{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
     grid-area: header;
    background-color: #EE1D52;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color: #EE1D52;
    font-family: 'Bebas Neue', cursive;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: #69C9D0;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: #EE1D52;
    font-family: 'Bebas Neue', cursive;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #69C9D0;
    font-family: 'Sigmar One', cursive;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #EE1D52;
    font-family: 'Sigmar One', cursive;
    padding: 25px;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    background-color: #EE1D52;
    text-align: center;  
}

.references{
  grid-area: references;
  background-color: #69C9D0;
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: #EE1D52;
    color: black;
    text-align: center;
    font-weight: bold;
}
